<head>
    <title>Github Gist API - Discover and Learn</title>
    <meta name="title" content="Github Gist API - Discover and Learn">
    <meta name="description" content="With Github Gist API, you will be able to take a peek at other people's wonderful creations">
    <meta charset='utf-8'>
</head>
